#grid {
  display: flex;
  flex-direction: column;
  min-width: 960px;
  min-height: 960px;
  max-height: 960px;
  max-width: 960px;
  border-style: solid;
  margin: auto;
}

#controls {
  display: flex;
  justify-content: space-around;
  padding: 14px;
}

.parent-row {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.row-children {
  display: flex;
  flex-grow: 1;
}

.buttons {
  padding: 4px;
}
