#grid {
  margin-left: 10px;
  margin-right: 10px;
}

#controls {
  display: flex;
  justify-content: space-around;
  padding: 14px;
}

.parent-row {
  display: flex;
  justify-content: center;
  min-height: 5.5vh;
}

.row-children {
  display: flex;
  width: 5.5vh;
}

.buttons {
  padding: 4px;
}
